mixin firstPost(dataPost, isTags)
    a.post-content(class=dataPost.isDirectRow ? 'row' : 'column', href=dataPost.link ? dataPost.link : '#')
        if dataPost.image
            .post-content__image
                img(src=require(`./images/index/`.concat(dataPost.image)))
        if dataPost.date || dataPost.title || dataPost.preview || (isTags && dataPost.tags)
            .post-content_desc
                if dataPost.date
                    .post-content__date.post-content__row
                        | #{dataPost.date}
                if dataPost.title
                    .post-content__title.post-content__row
                        h2
                            | #{dataPost.title}
                        if dataPost.isViewArrow
                            svg(class="post-content__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M7 17L17 7M17 7H7M17 7V17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                if dataPost.preview
                    .post-content__preview.post-content__row
                        | #{dataPost.preview}
                if isTags
                    .post-content__tags.post-content__row
                        +tags(dataPost.tags)
